@import "tailwindcss";


*{
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}

.source{
  font-family:'Courier New', Courier, monospace;
}
.bg-def{
  background-color: #9deac6;
}
.text-def{
  color: #9deac6;
}
.text-shadow-xl{
  text-shadow: 20px 20px 15px black;
}








/* Media */


@media screen and (max-width:1440px) {
  .hero-head{
    font-size: 90px;
  }
  .homecard{
    font-size: 15px ;
  }
  .nvColection{
    font-size: 70px;
  }
  .homecarousel{
    font-size: 18px ;
    
  }
}